.main {
    min-height: 93vh;
    padding: 0 0;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'NanumSquareRoundB'; */
}

.headTitle {
 
    padding: 0.6rem 0rem 0.4rem 1.2rem;
    position: sticky;
    top:0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color:rgba(237,20,61,0.95);
    z-index: 10;
    color:white;
    font-family:'Ubuntu-Bold';
    width: 100%;
}

.childContainer {
    margin: 1rem 0rem;
    line-height: 1.6;
    /* padding : 1rem 1rem; */
    /* border-bottom: 1px solid gray;
    border-top: 1px solid gray; */
}

/* .childContainer h2 {
    font-size: 1.0rem;
    margin: 1rem 1rem;
    padding : 0.6rem 0.4rem;
    border-bottom: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    line-height: 1.6;
    font-family: NanumSquareRoundR;
} */

.goBack {
    z-index: 10;
    background-color: rgba(231, 218, 104, 0.6);
    top: 600px;
    right: 0rem;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 2rem;
    box-shadow: 2px 2px 3px grey;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    padding: 0 0.4rem;
}
