@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('./fonts/NanumSquareRoundB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('./fonts/NanumSquareRoundL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('./fonts/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('./fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('./fonts/Ubuntu-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, NanumSquareRoundB; */
  font-family: NanumSquareRoundB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

